h1{
	margin:0;
}
body{
	background-color: #B1A597;
}
header{
padding-top: 1em;
max-width: 100%;
background-color: #fff;
color:#888888;
}
.menus{
	margin-top: 15px;
	font-size: 12pt;
}
a{
	margin-right: 10px;
 color:#888888;
 text-decoration: none;
}
a:hover{
	text-decoration: none;
}

.content{
	margin-top: 20px;
}

form{
	width:300px;
	background-color: #fff;
	margin-left: 30%;
	margin-top: 100px;
	border-radius: 10px;
	padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
	width: 200px;

}

input[type="text"],
input[type="email"],
input[type="password"],button,
label{
	margin-left: 10px;


}
input[type="password"]{
	border-radius: 4px;
	border-style: 1px;
}